*{
    padding: 0%;
    margin: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.932);
}

h1{
    color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    text-shadow: 0 0 8px rgba(245, 229, 6, 0.9);
    font-size: 50px;
}

h2{
    color: yellow;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 8px rgba(245, 229, 6, 0.9);
    font-size: 20px;
}

.gry{
    display: flex;
    justify-content: center;
   
}
.gry button{
    margin: 25px;
   background-color: yellow;
   width: 200px;
   height: 100px;
   font-size:  30px;
   color: rgb(0, 0, 0);
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
     mous
}

.gry button:hover{
    cursor: pointer;
}

.bandyta{
background-image: url(slot.jpg);
background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
}
.case{
    background-image: url(case\ obrazek.png);
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
